.wrapper {
    margin-top: 3%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.sign {
    display: flex;
    width: 30%;
    height: auto;
}

.art {
    min-height: 75vh;
}

.artwrapper {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.author {
    margin-top: auto;
    color: black;
    text-align: left;
    position: relative;
    bottom: 0;
}

.text {
    color: black;
    text-align: left;
    margin: 10px
}

.textwrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.header {
    background-image: var(--grad-color);
    background-clip: text;
    color: transparent;
    font-size: 45px;
}

.socialwrapper {
    display: flex;
    flex-direction: row;
    gap: 5rem;    
    justify-content: center;
    margin-top: -5vh;
}

.socialicon {
    height: 7rem;
    cursor: pointer;
    transition: height 200ms linear;
}

.socialicon:hover {
    height: 9rem;
    transition: height 200ms linear;
}