.wrapper {
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    font-family: 'Comfortaa';
    color: white;
    font-size: 28px;
    justify-content: left;
    gap: 34vw;
    align-items: center;
    background: var(--grad-color);
    padding-left: 1vw;
    padding-right: 1vw;
}

img {
    height: 8vh;
    margin: 0px 1%;
}

.cookieicon {
    width: 3vw;
    height: auto;
    margin: 0;
}

.linkswrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem
}

.link {
    user-select: none;
    cursor: pointer;
}

p {
    padding: 5px;
}