.wrapper {
    display: flex;
    flex-direction: row;
    font-family: 'Comfortaa';
    color: white;
    font-size: 22vw;
    justify-content: space-between;
    align-items: center;
    background: var(--grad-color);
    min-width: 100%;
    max-height: 15vh;
}

img {
    margin: 0px 1%;
}

.menu {
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: height 200ms ease-in;
}

.menuopen {
    height: max-content;
    transition: height 200ms ease-in;
}

.menu p {
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 8vw;
}