:root {
  --grad-color: #FF6EB4;
  --grad-color: linear-gradient(90deg,rgba(255, 110, 180, 1) 0%, rgba(113, 200, 255, 1) 100%);
}

.App {
  text-align: center;
  font-family: "Comfortaa";
  font-size: 1.4vw;
  min-width: 100vw;
}

@media screen and (max-width: 768px){
  .App {
    font-size: 5vw;
  }
}

#root, body, html {
  min-width: 100vw;
  overflow-x: hidden;
}

@font-face {
  font-family: "Comfortaa";
  src: url('./fonts/Comfortaa-Regular.ttf');
}

@font-face {
  font-family: "Comfortaa";
  font-weight: bold;
  src: url('./fonts/Comfortaa-Bold.ttf');
}

.line {
  margin: 0;
  padding: 0;
  max-height: 1px;
  border: 1px #FFFFFF solid;
  opacity: 0.5;
}

.linegrad {
  margin: 0;
  padding: 0;
  height: 5px;
  background: var(--grad-color);
  opacity: 0.5;
}