.wrapper { 
    width: 100%;
    height: max-content;
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
    background: var(--grad-color);
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    text-align: left;
}

img {
    height: 8vh;;
    margin: 15px 1%;
}

p {
    color: white;
}

.linkswrapper {
    display: flex;
    gap: 4rem;
}

.linkwrapper {

}

.link {
    cursor: pointer;
    user-select: none;
    font-size: 24px;
    margin-top: -10%;
}

.linkheader {
    font-size: 32px;
}