.wrapper {
    border-radius: 195px;
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    width: 50vw;
    height: 13vw;
}

.text {
    color: #FF6EB4;
    font-size: 3.5vw;
    user-select: none;
    cursor: pointer;
}
